.vf-outer-container {
    color-scheme: dark;
    --stv-color-primary: #409eff;
    --stv-color-primary-light-3: rgb(50.8, 116.6, 184.5);
    --stv-color-primary-light-5: rgb(42, 89, 137.5);
    --stv-color-primary-light-7: rgb(33.2, 61.4, 90.5);
    --stv-color-primary-light-8: rgb(28.8, 47.6, 67);
    --stv-color-primary-light-9: rgb(24.4, 33.8, 43.5);
    --stv-color-primary-dark-2: rgb(102.2, 177.4, 255);
    --stv-color-success: #67c23a;
    --stv-color-success-light-3: rgb(78.1, 141.8, 46.6);
    --stv-color-success-light-5: rgb(61.5, 107, 39);
    --stv-color-success-light-7: rgb(44.9, 72.2, 31.4);
    --stv-color-success-light-8: rgb(36.6, 54.8, 27.6);
    --stv-color-success-light-9: rgb(28.3, 37.4, 23.8);
    --stv-color-success-dark-2: rgb(133.4, 206.2, 97.4);
    --stv-color-warning: #e6a23c;
    --stv-color-warning-light-3: rgb(167, 119.4, 48);
    --stv-color-warning-light-5: #7d5b28;
    --stv-color-warning-light-7: rgb(83, 62.6, 32);
    --stv-color-warning-light-8: rgb(62, 48.4, 28);
    --stv-color-warning-light-9: rgb(41, 34.2, 24);
    --stv-color-warning-dark-2: rgb(235, 180.6, 99);
    --stv-color-danger: #f56c6c;
    --stv-color-danger-light-3: rgb(177.5, 81.6, 81.6);
    --stv-color-danger-light-5: rgb(132.5, 64, 64);
    --stv-color-danger-light-7: rgb(87.5, 46.4, 46.4);
    --stv-color-danger-light-8: rgb(65, 37.6, 37.6);
    --stv-color-danger-light-9: rgb(42.5, 28.8, 28.8);
    --stv-color-danger-dark-2: rgb(247, 137.4, 137.4);
    --stv-color-error: #f56c6c;
    --stv-color-error-light-3: rgb(177.5, 81.6, 81.6);
    --stv-color-error-light-5: rgb(132.5, 64, 64);
    --stv-color-error-light-7: rgb(87.5, 46.4, 46.4);
    --stv-color-error-light-8: rgb(65, 37.6, 37.6);
    --stv-color-error-light-9: rgb(42.5, 28.8, 28.8);
    --stv-color-error-dark-2: rgb(247, 137.4, 137.4);
    --stv-color-info: #909399;
    --stv-color-info-light-3: rgb(106.8, 108.9, 113.1);
    --stv-color-info-light-5: rgb(82, 83.5, 86.5);
    --stv-color-info-light-7: rgb(57.2, 58.1, 59.9);
    --stv-color-info-light-8: rgb(44.8, 45.4, 46.6);
    --stv-color-info-light-9: rgb(32.4, 32.7, 33.3);
    --stv-color-info-dark-2: rgb(166.2, 168.6, 173.4);
    --stv-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
    --stv-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
    --stv-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72);
    --stv-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000, 0px 8px 16px -8px #000000;
    --stv-bg-color-page: #0a0a0a;
    --stv-bg-color: #141414;
    --stv-bg-color-overlay: #1d1e1f;
    --stv-text-color-primary: #e5eaf3;
    --stv-text-color-regular: #cfd3dc;
    --stv-text-color-secondary: #a3a6ad;
    --stv-text-color-placeholder: #8d9095;
    --stv-text-color-disabled: #6c6e72;
    --stv-border-color-darker: #636466;
    --stv-border-color-dark: #58585b;
    --stv-border-color: #4c4d4f;
    --stv-border-color-light: #414243;
    --stv-border-color-lighter: #363637;
    --stv-border-color-extra-light: #2b2b2c;
    --stv-fill-color-darker: #424243;
    --stv-fill-color-dark: #39393a;
    --stv-fill-color: #303030;
    --stv-fill-color-light: #262727;
    --stv-fill-color-lighter: #1d1d1d;
    --stv-fill-color-extra-light: #191919;
    --stv-fill-color-blank: transparent;
    --stv-mask-color: rgba(0, 0, 0, 0.8);
    --stv-mask-color-extra-light: rgba(0, 0, 0, 0.3);
}
